body {
  background-color: #1E1E26; }

.home .centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .home .centre h1 {
    text-align: center; }
    .home .centre h1 span {
      font-family: 'Permanent Marker', cursive;
      line-height: 3.5rem;
      text-transform: uppercase;
      width: 100%;
      bottom: 270px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .home .centre h1 span.top-layer {
        z-index: 4;
        color: #ff6391;
        background: -webkit-linear-gradient(#FF00E1, #ffc641);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .home .centre h1 span.bottom-layer {
        z-index: 3;
        color: transparent;
        text-shadow: 1px 1px 0 #1E1E26, 2px 2px 0 #186AEC, 0 0 50px #8b0c96; }
    .home .centre h1.small {
      font-size: 75px;
      font-size: 4.6875rem; }
      .home .centre h1.small span {
        height: 4rem; }
    .home .centre h1.medium {
      font-size: 65px;
      font-size: 4.0625rem; }
    .home .centre h1.large {
      font-size: 55px;
      font-size: 3.4375rem; }
  .home .centre h2 {
    text-indent: -10000px;
    color: white;
    width: 600px;
    height: 361px;
    -webkit-filter: grayscale(50%);
    background-image: url("../img/everything-wave.png"); }

.gradient {
  background: linear-gradient(0deg, #39326d, #1E1E26, #000);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }
