body {
  background-color: #000; }

.home .centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .home .centre h1 {
    font-family: 'Sarina', cursive;
    color: white;
    line-height: 3.5rem;
    text-shadow: 0 0 10px 5px red;
    text-transform: uppercase;
    color: #ffa12f;
    background: -webkit-linear-gradient(#FFEB3B, #FF5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home .centre h2 {
    color: white; }
