<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Everything wave</title>
        <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" />
        <script src="https://use.typekit.net/gns0xcs.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <div id="ew-app">
            <div class="home">
                <div class="centre">
                    <h1>{{word}}</h1>
                    <h2>Wave</h2>
                </div>
            </div>
        </div>
    </body>
</html>
